@import url(http://www.murdoch.edu.au/Ccpr/font/Adelle/adelle.css);
body {
	margin:0;	
	background:#fff;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#000;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;	
}
#wrapper{
	width:960px;
	margin:0 auto;
	color:#CC0000;
	font:23px/47px 'Adelle W01 Bold', Arial, Helvetica, sans-serif;	
}
.slideshow {
	position: relative;
	width:960px;
	height: 240px;
	margin: 0 0;
	background: #c00;
}
.slideshow .slide {
	position: absolute;
	z-index: 1;
	width:100%;                     
}
.slideshow .slide.active {z-index: 2;}
.slide-holder{
	overflow:hidden;
	padding:5px 0 4px 23px;        
}
.slide-holder .text-box{
	font-size:27px;
	line-height:40px;
	padding:73px 0 0;
	width: 582px;
	overflow: hidden;
	position: relative;
	z-index: 1;       
}
.slide-holder  .slide02{
	padding:75px 0 0;
	line-height:37px;
}
.slide-holder  .slide03{
	padding:51px 0 0;
	line-height:42px;
}
.slide03 .line strong{font-size:54px;}
.slide03 .item{padding:0 0 0 30px;}
.slide-holder .img-box{
	float:right;
	margin:0 0 0 -130px;
	z-index:2;
	position:relative;
}
.slide-holder .img-box img{
	display:inline-block;
	vertical-align:top;
	margin:0 3px;
}
.slide-holder .img-box .alt{
	margin:0 5px 0 5px;
	vertical-align:bottom;
}
.line{
	display:block;
	text-transform:uppercase;
	position:relative;
}
.line strong{font-size:50px;}
.line span{font-size:33px;}
.line .big{font-size:41px;}
.btn-find{
	display:inline-block;
	vertical-align:top;
	font-size:22px;
	line-height:24px;
	position:relative;
	color:#fff;
	text-transform:uppercase;
	padding:4px 38px 2px 12px;
	background:#b4a989;
	margin:10px 0 0 218px;
	word-spacing:-2px;
}
.btn-find:hover{
	text-decoration:none;
	background:#747474 ;
}
.btn-find:after{
	content:"";
	position:absolute;
	right:12px;
	top:5px;
	background: url(http://www.murdoch.edu.au/_image/Semester-1-2014/btn-find.png/) no-repeat;
	width:13px;
	height:20px;
}
.shadow{
	position:absolute;
	background: url(http://www.murdoch.edu.au/_image/Semester-1-2014/bg-shadow.png/) no-repeat 0 100%;
	height:52px;
	width:1063px;
	left:0;
	bottom:0;
}
.slideshow-inner {
	position: relative;
	width:960px;
	height: 240px;
	margin: 0 0;
	color:#e21836;
	text-transform:uppercase;	
}
.slideshow-inner .slide {
	position: absolute;
	z-index: 1;
	width:100%;
	margin:0 0 40px;
	opacity:1 !important;
           display: none;
}
.slideshow-inner .slide.active {z-index: 20 !important;}
.slideshow-inner .slide-holder{
	overflow:hidden;
	border: solid #e21836;
	border-width:1px 0;
	padding:0;
}
.slideshow-inner .arrow-box{
	float:left;
	width:93px;
	padding:37px 27px 0 23px;
	height:92px;
	position:relative;
}
.slideshow-inner .arrow-box img{
	position:absolute;
	left:23px;
	top:37px;
}
.slideshow-inner .slide:first-child .arrow{display:none;}
.slideshow-inner .slide:first-child .text-box{
	padding:17px 0 4px;
	line-height:46px;
	font-size:25px;
	background:#fff;
}
.slideshow-inner .slide-holder .text-box{
	float:left;
	width:284px;
	margin:12px 18px 0 0;
	border-top:1px solid #e21836;
	line-height:46px;
	font-size:33px;
	padding:14px 0 0;
	position:relative;
	background:#fff;	
}

.slideshow-inner .animation{
	position:absolute;
	left:0;
	width:100%;
	height:15px;
	background: url(http://www.murdoch.edu.au/_image/Semester-1-2014/bg-animation.png/) no-repeat 100% 100%;
	text-indent:-9999px;
	overflow:hidden;
	bottom:0;
}
.slideshow-inner .text-box p{margin:0 0 2px;}
.slideshow-inner .img-box{
	width:503px;
	float:right;
	padding:0 12px 0 0;
}
.slideshow-inner .img-box img{
	vertical-align:top;
	margin:0;
}
.slideshow-inner .slide-last .text-box{
	padding:31px 0 0;
	line-height:46px;	
}
.slideshow-inner .btn-find{
	margin:11px 0 0 2px;
	font-size:27px;
	line-height:30px;
	padding:4px 50px 2px 12px;
}
.slideshow-inner .btn-find:after{
	background: url(http://www.murdoch.edu.au/_image/Semester-1-2014/btn-find-inner.png/) no-repeat;
	top:6px;
	right:16px;
	width:15px;
	height:25px;
 }